/* google fonts (Work Sans) */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #FF900E;
    --color-white: #FFFFFF;
    --color-bg: rgba(255, 144, 14, 0.1);
    --color-bg1: #FFFFFF;
    --color-bg2: #FFF4E7;

    --container-width-lg: 82%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

}

body{
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

/* =====all section margin top==== */
section{
    padding-top: 130px;
}

/* ======button===== */
.primary-button {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    background: var(--color-primary);
    color: #FFFFFF;
    border-radius: 8px;
    margin-top: 1.8rem;
}

.primary-button1 {
    position: relative;
    top: -8%;
    transform: translate(-20%, -30%);
    -ms-transform: translate(-20%, -30%);

    width: 342px;
    height: 200px;
    text-align: center;
    background: var(--color-primary);
    color: #FFFFFF;
    border-radius: 8px;
    margin-top: 1.8rem;
    justify-content: center;
}

.font-big {
    font-weight: 700;
    font-size: 4rem;
}

.font-small {
    font-weight: 500;
    font-size: 25px;
}

/* background-color */
.header {
    background: var(--color-bg);
}

main {
    background: var(--color-bg1);
}
/* =======nav======= */
nav {
    background: transparent;
    padding-top: 1.5rem;
 }
 
 .nav_container {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav-logo {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
 }

 .nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu li  {
    font-weight: 500;
    font-size: 1.1rem;
    color: #424242;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* =======header===== */
.Banner-info {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 55px;
}

.Banner-info h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 75px;
    color: #131313;
}

.Banner-info p {
    font-size: 1rem;
    color: #727272;
    margin-top: 0.6rem;
}

.banner-photo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* =========features======== */

.features-container {
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

.feature-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-gallery img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.feature-info {
    width: 537px;
    height: 304px;
}

.feature-info h2 {
    font-weight: 500;
    font-size: 2.8rem;
    color: #727272;
}

.black {
   color: #131313;
}

.orange {
   color: #FF900E;
}

.feature-info p {
    font-size: 1rem; 
    color: #727272;
}

/* ========experience====== */
.experience-container {
    display: flex;
    gap: 3rem;
}

.v_line {
    border-left: 4px solid #FF900E;
    height: 8rem;
    background-position: 5px;
}

.vertical-line {
    display: flex;
    gap: 1.2rem;
}

.experience-title {
    width: 468px;
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}

.experience-details p {
    font-size: 1rem;
    color: #727272;
    width: 586px;
    margin: 1.5rem 0;
}

.experience-info {
    width: 586px;
    height: 171px;
}

.experience-info h3 {
    font-weight: 600;
    font-size: 1.2rem;
    color: #131313;
}

.experience-info p {
    font-size: 1rem;
    color: #727272;
    width: 514px;
}

.experience-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ===latest projects (extra section) ====*/
.project-container {
    display: flex;
    gap: 1.2rem;
}

.project {
    margin-top: 10px;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.project p {
    font-size: 1rem;
    color: #727272;
    width: 100%
}
/* ========facts========== */
.section-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 10px;
}

.short-description {
    font-size: 1rem;
    color: #727272;
    width: 542px;
    height: 52px;   
}

.facts-container {
    display: flex;
    justify-content: space-evenly;
}

.fact-info {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    margin-top: 5rem;
}

/* hover animation */
.fact-info:hover {
   cursor: pointer;
   box-shadow: 5px 5px 20px black;
   border: none;
}

.fact-info:hover img {
    transform: scale(1.1) rotate(-30deg);
}

.fact-info:hover .rating {
    color: var(--color-primary) ;
}

.fact-info:hover .fact-title{
  background-color: #131313;
  color: #FFF4E7;
}

.fact-icon {
    width: 45.22px;
    height: 45.22px;
    margin-top: 2.8rem;
}

.rating {
    font-weight: 600;
    font-size: 2.9rem;
    color: #424242;
}

.fact-title {
    font-weight: 600;
    font-size: 1.2rem;  
    color: #727272;
}

/* ========sponsor======= */
.sponsor-content {
    text-align: center;
}

.sponsor-description {
    font-size: 1rem;
    text-align: center;
    color: #727272;
}

.sponsor-container {
    display: flex;
    gap: 7rem;
    align-items: center;
}

.sponsor-container img {
    width: 165.83px;
    height: 50px;
    padding: 0.3rem 0;
    margin-top: 1.5rem;
    mix-blend-mode: luminosity;
}

/* ========footer====== */
.footer-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg2);
}

.footer-container p {
    font-size: 1.3rem;
    color: #424242;
    text-align: center;
    padding: 2.6rem 0;
}


/* =======
media query
=========== */

/* smaller device (phones) */
@media only screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
        margin: 0 auto;
    }

    /* common flex-direction */
    .nav_container,
    .nav-menu,
    .features-container,
    .experience-container,
    .project-container,
    .facts-container,
    .sponsor-container {
        flex-direction: column;
    }
    /* responsive navbar */

    .nav-menu {
        margin-top: 10px;
    }

    .Banner-info h1 {
        font-size: 3rem;
    }

    .Banner-info p {
        align-items: center;
    }
     
    /* responsive features section */
    .feature-gallery {
        grid-template-columns: repeat(1, 1fr)
    }

    .feature-info {
        width: 100%;
        height: 100%;
    }
    
    /* responsive experience section */
    .experience-details p {
        width: 100%;
    }
    .experience-info{
        width: 100%; 
    }

    .experience-info p {
        width: 100%; 
    }
    
    .primary-button1 {
        transform: translate(0, -60%);
        -ms-transform: translate(0, -60%);
    }
    /* responsive facts section */
    .fact-info {
        width: 100%;
    }

}



